<h2>Create new Contact</h2>

<form action='/contacts' method='post'>
  <ul>
    <li>First Name: <input type='text' name='first_name'></li>
    <li>Last Name: <input type='text' name='last_name'></li>
    <li>E-mail Address: <input type='text' name='email'></li>
    <li>Notes: <textarea name="note"></textarea></li>
    <li><input type='submit' value='New Contact'></li>
  </ul>
</form>