<h2>Edit contact</h2>
<ul>
  <li>First Name: <h3 class="contact_info"><%= @contact.first_name %></h3></li>
  <li>Last Name: <h3 class="contact_info"><%= @contact.last_name %></h3></li>
  <li>E-mail Address: <h3 class="contact_info"><%= @contact.email %></h3></li>
  <li>Notes: <p><%= @contact.note %></p></li>
</ul>